<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {title: "BrewTime"}) %>
  <body>
    <!-- Home -->
    <div
      id="home"
      class="parallax-window"
      data-parallax="scroll"
      data-image-src="img/antique-cafe-bg-01.jpg"
    >
      <%- include('./partials/nav') %>
      <div class="container mx-auto px-2 tm-intro-width">
        <div class="sm:pb-60 sm:pt-48 py-20">
          <div class="bg-black bg-opacity-70 p-12 mb-5 text-center">
            <h1 class="text-white text-5xl tm-logo-font mb-5">BrewTime</h1>
            <p class="tm-text-gold tm-text-2xl">
              Brewing perfection, one cup at a time
            </p>
          </div>
          <div class="bg-black bg-opacity-70 p-10 mb-5">
            <p class="text-white leading-8 text-sm font-light">
              At BrewTime, we're passionate about serving more than just a great
              cup of coffee – we're dedicated to delivering an experience that
              warms your heart and inspires your day. From carefully selecting
              the finest Arabica beans to precision-roasting each batch, our
              expert roasters ensure every cup is a masterpiece.
            </p>
          </div>
          <div class="text-center">
            <div class="inline-block">
              <a
                href="#menu"
                class="flex justify-center items-center bg-black bg-opacity-70 py-6 px-8 rounded-lg font-semibold tm-text-2xl tm-text-gold hover:text-gray-200 transition"
              >
                <i class="fas fa-coffee mr-3"></i>
                <span>Explore our Menu...</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Cafe Menu -->
    <div
      id="menu"
      class="parallax-window"
      data-parallax="scroll"
      data-image-src="img/antique-cafe-bg-02.jpg"
    >
      <div class="container mx-auto tm-container py-24 sm:py-48">
        <div class="text-center mb-16">
          <h2
            class="bg-white tm-text-brown py-6 px-12 text-4xl font-medium inline-block rounded-md"
          >
            Our Cafe Menu
          </h2>
        </div>
        <div class="flex flex-col lg:flex-row justify-around items-center">
          <div
            class="flex-1 m-5 rounded-xl px-4 py-6 sm:px-8 sm:py-10 tm-bg-brown tm-item-container"
          >
            <% menuItems.forEach(item => { %>
            <div class="flex items-start mb-6 tm-menu-item">
              <img
                src="<%= item.image %>"
                alt="<%= item.name %>"
                class="rounded-md"
              />
              <div class="ml-3 sm:ml-6">
                <h3 class="text-lg sm:text-xl mb-2 sm:mb-3 tm-text-yellow">
                  <%= item.name %>
                </h3>
                <div class="text-white text-md sm:text-lg font-light">
                  &#x20A6;<%= item.price %>
                </div>
                <a
                  href="/menu/<%= item.id %>"
                  class="item-btn text-white inline-block"
                >
                  <i class="fa-solid fa-mug-hot mr-2"></i>
                  View Item
                </a>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>

    <!-- About -->
    <div
      id="about"
      class="parallax-window"
      data-parallax="scroll"
      data-image-src="img/antique-cafe-bg-03.jpg"
    >
      <div class="container mx-auto tm-container py-24 sm:py-48">
        <div class="tm-item-container sm:ml-auto sm:mr-12 mx-auto sm:px-0 px-4">
          <div class="bg-white bg-opacity-80 p-12 pb-14 rounded-xl mb-5">
            <h2 class="mb-6 tm-text-green text-4xl font-medium">
              About our cafe
            </h2>

            <h4 class="mb-3 tm-text-green text-2xl font-medium">
              Welcome to BrewTime: Where Passion Meets Perfection
            </h4>
            <p class="mb-6 text-base leading-8">
              At BrewTime, we're more than just an online coffee cafe – we're a
              community of coffee connoisseurs, passionate about serving
              exceptional cups that inspire and delight. Our journey began with
              a simple yet ambitious vision: to bring people together, one
              perfectly brewed cup at a time.
            </p>

            <h4 class="mb-3 tm-text-green text-2xl font-medium">Our Story</h4>
            <p class="mb-6 text-base leading-8">
              Founded in 2022 by Andy James, BrewTime was born out of a love for
              coffee and a frustration with the ordinary. As coffee enthusiasts,
              we searched far and wide for the perfect cup, only to find it was
              often elusive. We realized that great coffee wasn't just about the
              beans, but about the people, the process, and the passion behind
              every brew.
            </p>

            <h4 class="mb-3 tm-text-green text-2xl font-medium">Our Mission</h4>
            <p class="mb-6 text-base leading-8">
              At BrewTime, our mission is to:
              <br />
              1. Source the finest, sustainably-grown Arabica beans from around
              the world.<br />
              2. Precision-roast each batch to bring out the unique flavors and
              nuances.<br />
              3. Craft artisanal blends and single-origin coffees that delight
              the senses.<br />
              4. Deliver exceptional customer experiences through personalized
              service and education.<br />
              5. Foster a community that shares our passion for coffee and
              connection.
            </p>

            <h4 class="mb-3 tm-text-green text-2xl font-medium">Our Values</h4>
            <p class="mb-6 text-base leading-8">
              1. Quality: We're relentless in our pursuit of perfection, from
              bean to cup.<br />
              2. Sustainability: We prioritize environmentally-friendly
              practices and fair trade sourcing.<br />
              3. Community: We believe coffee has the power to bring people
              together.<br />
              4. Innovation: We continually experiment and improve to stay ahead
              of the curve.<br />
              5. Passion: We're driven by a love for coffee and a desire to
              share it with the world.<br />
            </p>
          </div>
          <a
            href="#contact"
            class="inline-block tm-bg-green transition text-white text-xl pt-3 pb-4 px-8 rounded-md"
          >
            <i class="far fa-comments mr-4"></i>
            Contact
          </a>
        </div>
      </div>
    </div>

    <!-- Our team -->
    <div
      id="team"
      class="parallax-window relative"
      data-parallax="scroll"
      data-image-src="img/antique-cafe-bg-05.jpg"
    >
      <div class="container mx-auto tm-container pt-24 pb-48 sm:py-48">
        <div class="team-head-div">
          <h2 class="mb-6 tm-text-green text-4xl font-medium">Meet Our Team</h2>
        </div>
        <div class="team-grid">
          <!-- Team Member 1 -->
          <div class="team-member">
            <div class="flex items-center">
              <img src="img/andyjr.jpg" alt="Andy James" class="rounded-full" />
              <div class="ml-4 text-left">
                <h3>Andy James</h3>
                <p>Founder</p>
              </div>
            </div>
            <p class="bio">
              As the founder of BrewTime, Andy is passionate about coffee and
              committed to providing the best coffee experience in Nigeria.
            </p>
          </div>
          <!-- Team Member 2 -->
          <div class="team-member">
            <div class="flex items-center">
              <img
                src="img/amirah.jpg"
                alt="Amirah Ahmed"
                class="rounded-full"
              />
              <div class="ml-4 text-left">
                <h3>Amirah Ahmed</h3>
                <p>Barista</p>
              </div>
            </div>
            <p class="bio">
              Amirah is our talented barista who knows the perfect coffee
              recipes to satisfy your cravings.
            </p>
          </div>
          <!-- Team Member 3 -->
          <div class="team-member">
            <div class="flex items-center">
              <img
                src="img/blessing.jpg"
                alt="Blessing Mike"
                class="rounded-full"
              />
              <div class="ml-4 text-left">
                <h3>Blessing Mike</h3>
                <p>Manager</p>
              </div>
            </div>
            <p class="bio">
              As the manager, Blessing ensures everything runs smoothly, from
              coffee quality to customer service.
            </p>
          </div>
          <!-- Team Member 4 -->
          <div class="team-member">
            <div class="flex items-center">
              <img
                src="img/princess.jpg"
                alt="Princess Johnson"
                class="rounded-full"
              />
              <div class="ml-4 text-left">
                <h3>Princess Johnson</h3>
                <p>Chef</p>
              </div>
            </div>
            <p class="bio">
              Princess is our talented chef, renowned for her culinary expertise
              and creativity in the kitchen. With years of experience in the
              food industry, she has mastered the art of crafting delicious
              snacks and light meals that perfectly complement our specialty
              coffee.
            </p>
          </div>
          <!-- Team Member 5 -->
          <div class="team-member">
            <div class="flex items-center">
              <img
                src="img/aminat.jpg"
                alt="Aminat Qadri"
                class="rounded-full"
              />
              <div class="ml-4 text-left">
                <h3>Aminat Qadri</h3>
                <p>Assistant Chef</p>
              </div>
            </div>
            <p class="bio">
              Aminat is our talented assistant chef who brings creativity and
              flair to the kitchen. With a passion for culinary arts, she
              specializes in crafting delicious pastries and desserts that
              delight our customers.
            </p>
          </div>
          <!-- Team Member 6 -->
          <div class="team-member">
            <div class="flex items-center">
              <img
                src="img/gbemisola.jpg"
                alt="Gbemisola Evans"
                class="rounded-full"
              />
              <div class="ml-4 text-left">
                <h3>Gbemisola Evans</h3>
                <p>Cashier</p>
              </div>
            </div>
            <p class="bio">
              Gbemisola is our dedicated cashier, known for her exceptional
              customer service and attention to detail. With a friendly smile
              and a warm demeanor, she creates a welcoming environment for every
              customer that walks through our doors.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact -->
    <div
      id="contact"
      class="parallax-window relative"
      data-parallax="scroll"
      data-image-src="img/antique-cafe-bg-04.jpg"
    >
      <div class="container mx-auto tm-container pt-24 pb-48 sm:py-48">
        <div
          class="flex flex-col lg:flex-row justify-around items-center lg:items-stretch"
        >
          <div
            class="flex-1 rounded-xl px-10 py-12 m-5 bg-white bg-opacity-80 tm-item-container"
          >
            <h2 class="text-3xl mb-6 tm-text-green">Contact Us</h2>
            <p class="mb-6 text-lg leading-8">
              Phase 2 EFAB Estate, Lokogoma, Abuja.
            </p>
            <p class="mb-10 text-lg">
              <span class="block mb-2"
                >Tel:
                <a
                  href="tel:09063368647"
                  class="hover:text-yellow-600 transition"
                  >0906-336-8647</a
                ></span
              >
              <span class="block"
                >Email:
                <a
                  href="mailto:info@company.com"
                  class="hover:text-yellow-600 transition"
                  >brewtime@gmail.com</a
                ></span
              >
            </p>
            <div class="text-center">
              <a
                href="https://www.google.com/maps"
                class="inline-block text-white text-2xl pl-10 pr-12 py-6 rounded-lg transition tm-bg-green"
              >
                <i class="fas fa-map-marked-alt mr-8"></i>
                Open Maps
              </a>
            </div>
          </div>
          <div
            class="flex-1 rounded-xl p-12 pb-14 m-5 bg-black bg-opacity-50 tm-item-container"
          >
            <form
              method="POST"
              class="text-lg"
              action="mailto:brewtime@gmail.com"
              enctype="text/plain"
            >
              <input
                type="text"
                name="name"
                class="input w-full bg-black border-b bg-opacity-0 text-white px-0 py-4 mb-4 tm-border-gold"
                placeholder="Name"
                required=""
              />
              <input
                type="email"
                name="email"
                class="input w-full bg-black border-b bg-opacity-0 text-white px-0 py-4 mb-4 tm-border-gold"
                placeholder="Email"
                required=""
              />
              <textarea
                rows="6"
                name="message"
                class="input w-full bg-black border-b bg-opacity-0 text-white px-0 py-4 mb-4 tm-border-gold"
                placeholder="Message..."
                required=""
              ></textarea>
              <div class="text-right">
                <button
                  type="submit"
                  class="text-white hover:text-yellow-500 transition"
                >
                  Send it
                </button>
              </div>
            </form>
          </div>
        </div>
        <%- include('./partials/footer') %>
      </div>
    </div>
  </body>
</html>
